@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 58% 96%;
    --foreground: 160 64% 26%;
    --card: 60 58% 96%;
    --card-foreground: 160 64% 26%;
    --popover: 60 58% 96%;
    --popover-foreground: 160 64% 26%;
    --primary: 160 64% 26%;
    --primary-foreground: 60 58% 96%;
    --secondary: 143 11% 67%;
    --secondary-foreground: 160 64% 26%;
    --muted: 45 6% 74%;
    --muted-foreground: 48 2% 52%;
    --accent: 108 5% 60%;
    --accent-foreground: 160 64% 26%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 6% 74%;
    --input: 108 5% 60%;
    --ring: 160 64% 26%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 160 64% 26%;
    --primary-foreground: 60 58% 96%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 160 64% 26%;
    --accent-foreground: 60 58% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 160 64% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
